


<div class="hero-carousel ">
    
<div class="car-item "> 
<a href="/collections/energy-drinks"  id="countdown-banner-video">

<video autoplay  muted  width="100% "  class="desktophero" id="banner-video-desktop">
  <source src="{{"Countdown_-_Desktop_4_Trim.mp4" | file_url }}" type="video/mp4">
</video>

  <video autoplay  muted playsinline  width="100% "   class="mobilehero" id="banner-video-mobile">
  <source src="{{"Countdown_-_Mobile_42.mp4" | file_url }}" type="video/mp4">
  </video>
</a> 
</div>
<div class="car-item"><a href="/pages/ambassadors"><img loading="lazy" width="100%" src="{{"Join_Our_Mission_Fold.jpg" | file_url}}" class="desktophero">
   <img loading="lazy" src="{{"mission_fold.jpg" | file_url}}" width="100%" class="mobilehero">
  </a></div>
  
  
</div>

{% schema %}
  {
    "name": "Main hero homepage",
    "settings": [
	{"type" : "text",
	"id" : "herohead",
	"label" : "heading"},
{"type" : "text",
	"id" : "herosubhead",
	"label" : "sub heading"},
{"type" : "text",
	"id" : "olympia",
	"label" : "bottom text"}
],
	"presets" : [
	{
        "name": "main-hero",
        "category": "homepage"
      }
]
  }
{% endschema %}

{% stylesheet %}
.new-launch {
position:relative;
}
.new-launch img{
width: 100%;
}
div#timer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    color: #fff;
    font-size: 3rem;
    font-family: Organetto UltraBold Ext;
	white-space: nowrap;
}

@media (max-width: 1550px){

div#timer {
font-size: 2rem

}
}
@media (max-width: 1024px){
div#timer {
font-size: 1.2rem
}
}

@media (max-width : 767px){
div#timer {
    position: absolute;
    top: 24.5%;
    left: 50%;
    transform: translate(-50%, -30%);
    color: #fff;
    font-size: 1.4rem;
    font-family: Organetto UltraBold Ext;
}
}
{% endstylesheet %}

{% javascript %}
document.querySelector(".mobileherov").play();
document.querySelector(".desktopherov").play();


{% endjavascript %}
