<!-- <div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
 -->


<div class="container-fluid ourstoryherosection">
        <div class="row">
            <div class="col-10 col-xl-8 mx-auto text-center middleherosection">
                <h2 class="Organetto_UltraBold">WHY REINVENTU?</h2>
                <p class="fwmonteserrat ">
                    ReinventU was founded on the belief that your destiny is created, not pre-determined. Our mission is to inspire and empower average people to live extraordinary lives, reaching their full potential, while remaining unique.  Our movement starts with health and wellness focusing on regulating hormone levels and filling nutrition gaps with the highest quality supplements available. We know change is not easy, so we take pride in being incomparable to the competition by using healthier ingredents and ensuring all products go through rigorous testing, which allows our customers to focus on the things that matter. “Visulaize your highest self” and together we can Reinvent-U!
                </p>
                <img src="https://cdn.shopify.com/s/files/1/0560/3321/4631/files/ourstorydownarrow.png" alt="ourstorydownarrow" />
                <br />
                <img src="https://cdn.shopify.com/s/files/1/0560/3321/4631/files/ourstorydownarrow.png" alt="ourstorydownarrow" />
            </div>
        </div>
    </div>

 <div class="container-fluid videoourstorysection  ">
        <div class="row ">
            <img src="https://cdn.shopify.com/s/files/1/0560/3321/4631/files/newpngourstorymiddle.png" alt="newpngourstorymiddle" />
            <div class="col-12 mt-3 col-lg-12 col-xl-7 col-md-12  mx-auto playvideoourstorysection p-0">
               
                   <iframe width="560" height="405" src="https://www.youtube.com/embed/-2Q4S8ov2-E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
               
            </div>
        </div>
    </div>

<div class="container hide founderreinventusection">
        <div class="row text-center pt-5">
            <div class="col-lg-4 pt-sm-0 pt-lg-5 px-xl-4">
                <img src="https://cdn.shopify.com/s/files/1/0560/3321/4631/files/reinventufounder1.png" alt="reinventufounder1" />
                <div class="foundernamesection my-4">
                    <h6 class="Organetto_UltraBold mb-0">ADAM REICH</h6>
                    <p class="fwmonteserrat">CO-FOUNDER OF REINVENTU</p>
                </div>
                <div class="founderreviewsection fwmonteserrat">
                    <p>
                        Adam is from Upstate New York, a former correctional officer who
                        has had a passion for fitness that developed in his early teens.
                    </p>
                    <p>
                        When presented the opportunity to take part in ReineventU, Adam
                        decided to go all in and make it his mission to make sure this
                        company becomes an “overnight success”
                    </p>
                    <p>
                        Adam’s main focus is the supplement lines. With years of
                        experience with bodybuilding and fitness, it’s become second
                        nature to him as to what a good supplement entails.
                    </p>
                </div>
                <button onClick="javascript:window.open('https://www.instagram.com/adamreich/', '_blank');"  class="mt-3">
                    <span class="Organetto_UltraBold">FOLLOW ADAM</span>
                </button>
                <br />
                <button class="my-2">
                    <span class="Organetto_UltraBold">EMAIL ADAM</span>
                </button>
            </div>
            <div class="col-lg-4 pt-sm-0 pt-lg-5 px-xl-4 my-5 my-lg-0">
                <img src="https://cdn.shopify.com/s/files/1/0560/3321/4631/files/reinventufounder2.png" alt="reinventufounder2" />
                <div class="foundernamesection my-4">
                    <h6 class="Organetto_UltraBold mb-0">KYLE KLOSOWSKI</h6>
                    <p class="fwmonteserrat">CO-FOUNDER OF REINVENTU</p>
                </div>
                <div class="founderreviewsection fwmonteserrat">
                    <p>
                        Adam is from Upstate New York, a former correctional officer who
                        has had a passion for fitness that developed in his early teens.
                    </p>
                    <p>
                        When presented the opportunity to take part in ReineventU, Adam
                        decided to go all in and make it his mission to make sure this
                        company becomes an “overnight success”
                    </p>
                    <p>
                        Adam’s main focus is the supplement lines. With years of
                        experience with bodybuilding and fitness, it’s become second
                        nature to him as to what a good supplement entails.
                    </p>
                </div>
                <button onClick="javascript:window.open('https://www.instagram.com/international_kyle/', '_blank');" class="mt-3">
                    <span class="Organetto_UltraBold">FOLLOW KYLE</span>
                </button>
                <br />
                <button class="my-2">
                    <span class="Organetto_UltraBold">EMAIL KYLE </span>
                </button>
            </div>
            <div class="col-lg-4 pt-sm-0 pt-lg-5 px-xl-4">
                <img src="https://cdn.shopify.com/s/files/1/0560/3321/4631/files/reinventufounder3.png" alt="reinventufounder3" />
                <div class="foundernamesection my-4">
                    <h6 class="Organetto_UltraBold mb-0">DYLAN BAKER</h6>
                    <p class="fwmonteserrat">CO-FOUNDER OF REINVENTU</p>
                </div>
                <div class="founderreviewsection fwmonteserrat">
                    <p>
                        Adam is from Upstate New York, a former correctional officer who
                        has had a passion for fitness that developed in his early teens.
                    </p>
                    <p>
                        When presented the opportunity to take part in ReineventU, Adam
                        decided to go all in and make it his mission to make sure this
                        company becomes an “overnight success”
                    </p>
                    <p>
                        Adam’s main focus is the supplement lines. With years of
                        experience with bodybuilding and fitness, it’s become second
                        nature to him as to what a good supplement entails.
                    </p>
                </div>
                <button onClick="javascript:window.open('https://www.instagram.com/realdylanbaker/', '_blank');"  class="mt-3">
                    <span class="Organetto_UltraBold">FOLLOW DYLAN</span>
                </button>
                <br />
                <button class="my-2">
                    <span class="Organetto_UltraBold">EMAIL DYLAN</span>
                </button>
            </div>
        </div>
    </div>

 <div class="container-fluid footerdesignourstorysection ">
        <div class="row  ">
            <img src="https://cdn.shopify.com/s/files/1/0560/3321/4631/files/ourstorylowersection.jpg" alt="ourstorylowersection" class="p-0" width="100%"
                height="auto" />
        </div>
    </div>